/*ESTILO COMPARTIDOS ENTRE G_INFOHABITACION Y T_VENTAHABITACION*/

/*ESTILOS PARA GENERALES PARA TODO */
    .info-card {
        background: white;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
        animation: fadeIn 0.5s ease-out;
    }

    .info-card h2 {
        color: #4a7aff;
        font-size: 1.2rem;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid #f0f0f0;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
     .info-group i{
        color: #4a7aff;
    }
     
    /* Grid para la información */
    .info-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .info-group {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .info-group label {
        color: #000000;
        font-weight: bold;
        font-size: 0.9rem;
    }

    .info-group input {
        padding: 8px 12px;
        width: 90%;
        border-radius: 4px;
        border: 1px solid #e0e0e0;
        font-size: 0.9rem;
        background-color: #f8f9fa;
        color: #6c757d;;
        cursor: default;
    }

    /* Quitar el borde al enfocar los inputs */
        .info-group input:focus,.info-group select:focus {
            outline: none;
            border-color: #e0e0e0;
        }

    /* Tabla de servicios */
    .table-container {
        overflow-x: auto;
        margin-top: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .service-table {
        width: 100%;
        border-collapse: collapse;
        background-color: white;
    }

    .service-table th,
    .service-table td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #e0e0e0;
    }

    .service-table th {
        background-color: #3f3e3e;
        color: white;
        font-weight: 600;
        font-size: 0.9rem;
    }

    .service-table tbody tr {
        background-color: white;
    }
    .service-table tr:nth-child(even) {
        background-color: #f8f9fa;
    }
  
    @media (max-width: 1200px) {
        .info-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 768px) {
        .info-grid {
            grid-template-columns: 1fr;
        }
    }

    /* Animaciones */
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    /*Fin estilos generales*/

/*FIN ESTILOS PARA G_INFOHABITACION*/

/*ESTILOS PARA T_VENTAHABITACION para la parte de detalle venta*/
.info-group select{
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    font-size: 0.9rem;
    background-color: #f8f9fa;
    color: #000000;;
    cursor: pointer;
}
.info-group input.cant{
    color: #000000;
}

.add-btn {
    background-color: #106db9;
    color: white;
    border: none;
    padding: 9px 25px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s;
}

.add-btn:hover {
    background-color: #083459;
}

.del-btn {
    background: none;
    color: red;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.del-btn:hover {
    opacity: 0.5;
}

.total-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: white;
    border-top: 1px solid #e0e0e0;
}

.total-label {
    font-weight: 500;
    color: white;
    background-color: #3f3e3e;
    padding: 8px 12px;
    border-radius: 4px;
}

.total-amount {
    min-width: 100px;
    text-align: right;
    font-weight: 500;
    background-color: white;
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.sale-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;
    background-color: #f8f9fa;
    border-top: 1px solid #e0e0e0;
}

.sale-status {
    display: flex;
    align-items: center;
    gap: 10px;
}
.sale-status label {
    color: #000000;
    font-weight: bold;
    font-size: 0.9rem;
}

.sale-status select {
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: white;
    min-width: 150px;
}
.sale-status select:focus {
    outline: none;
    border-color: #e0e0e0;
}

.finish-sale-btn {
    background-color: #10B981;
    color: white;
    border: none;
    padding: 8px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s;
}

.finish-sale-btn:hover {
    background-color: #0b7451;
}

/* Responsive */
@media (max-width: 768px) {
    .sale-actions {
        flex-direction: column;
        gap: 15px;
    }
    
    .sale-status {
        width: 100%;
    }
    
    .finish-sale-btn {
        width: 100%;
    }
}
/*FIN */

