/* Contenedor principal de habitaciones/ tambien se usa para R_recepcion y R_Productos*/
.rooms-container { 
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    animation: fadeIn 0.5s ease-out;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Selector de piso */
.floor-selector {
    width: 100%;
    max-width: 150px;
    
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.rooms-container select:focus{
    border-color: #225fb9; /* Cambio de color al enfocar */
    outline: none;
}

/* Grid de habitaciones */
.rooms-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 10px;
}

/* Tarjeta de habitación */
.room-card {
    background: rgb(238, 235, 235);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.room-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


/* Encabezado de la tarjeta */
.room-header {
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.room-number {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.room-icon {
    font-size: 1.2em;
}

/* Categoría de la habitación */
.room-category {
    padding: 8px 15px;
    font-size: 0.9em;
    color: #666;
    text-transform: uppercase;
}

/* Estado de la habitación */
.room-status {
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Colores de borde para cada estado */
.room-card.disponible {border: 2px solid #00c853;}
.room-card.ocupado {border: 2px solid #ff3d00;}
.room-card.reservado {border: 2px solid orange;}
.room-card.limpieza {border: 2px solid #00b0ff; }
.room-card.confirmar {border: 2px solid #b22596; }

.room-status.disponible {background-color: #00c853;}
.room-status.ocupado {background-color: #ff3d00;}
.room-status.reservado {background-color: orange;}
.room-status.limpieza {background-color: #00b0ff;}
.room-status.confirmar {background-color: #b22596; }

.room-status:hover {
    filter: brightness(95%);
}

.room-status i {
    transition: transform 0.3s;
}

.room-status:hover i {
    transform: translateX(5px);
}

.room-card.disponible .room-icon {color: #00c853;}
.room-card.reservado .room-icon {color: orange;}
.room-card.ocupado .room-icon {color: #ff3d00;}
.room-card.limpieza .room-icon {color: #00b0ff;}
.room-card.confirmar .room-icon {color: #b22596;}

/* Responsive */
@media (max-width: 768px) {
    .rooms-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 480px) {
    .rooms-grid {
        grid-template-columns: 1fr;
    }
}

/*Esto es para el cotenido de R_recepcion y R_Productos*/
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

#room-number, #status, #category,
.date-picker {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
}

.form-group input[type="date"]:focus {
    outline: none;
    border-color: #518de1;
    box-shadow: 0 0 5px #518de1; 
}

.form-group select:focus{
    outline: none;
    border-color: #518de1;
    box-shadow: 0 0 5px #518de1; 
}

.download-btn, .downloadproduct-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 150px;
    align-self: flex-end; 
}
.reservar-btn{
    padding: 8px 5px;  
    background-color: #28a745;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 150px; 
    justify-content: flex-end;
}
.download-btn i,.reservar-btn i,.downloadproduct-btn i {
    margin-right: 5px;
    font-size: 16px;
}

.download-btn:hover, .reservar-btn:hover, .downloadproduct-btn:hover  {
    background-color: #1e7c32;
}
