/* dashboard.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f4f4f9;
}

.dashboard-page {
    display: flex;
    height: 100%;
    background-color: silver;
}

.dashboard-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 250px;
    background: linear-gradient(135deg, #488ada, #ab2497);
    color: #fff;;
    padding: 20px;
    overflow-y: auto;
}

.sidebar h2 {
    color: white;
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
 
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    background: linear-gradient(135deg, #488ada, #ab2497);
    padding-left: 20px;
}

.dropdown.active .dropdown-content {
    display: block;
}

.main-content {
    flex-grow: 1;
    padding: 30px;
    background-color: silver;
    box-shadow: -1px 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto;
}

.dropdown-content a {
    padding: 10px;
    font-size: 15px;
}

.dropbtn {
    cursor: pointer;
}

.dropbtn i {
    margin-left: 0px;
}


.user-info {
    background: linear-gradient(135deg, #488ada, #ab2497);
    padding: 8px 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Tarjetas del Dashboard */
.dashboard-cards {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    width: 22%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    position: relative;
    border-left: 5px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-top: 0;
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
    
}
.card p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    top:30%;
    position: absolute;
    left: 10px;
}

.card i {
    font-size: 24px;
    color: #bdbbbb; /* Ajusta el color del ícono si es necesario */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    
}

/* Colores de los bordes de cada tarjeta */
.card:nth-child(1) {
    border-left: 8px solid #666;
}

.card:nth-child(2) {
    border-left: 8px solid #4a7aff;
}

.card:nth-child(3) {
    border-left: 8px solid #ff5722;;
}

.card:nth-child(4) {
    border-left: 8px solid #00bcd4;
}

@media (max-width: 1200px) {
    .card {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        position: relative;
        padding: 15px;
    }
    .main-content {
        order: 1;
    }
    
}

/* Ajustes para barra lateral en pantallas pequeñas */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    }
    .sidebar ul {
        flex-direction: row;
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .sidebar li {
        margin: 0;
    }
    .sidebar a {
        padding: 5px;
        text-align: center;
        font-size: 14px;
    }
}

/* Estilo para el botón de usuario */
.user-info button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.user-info button:hover {
    background-color: #333;
}

/* Estilo para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease; /* Suaviza la aparición del modal */
}

.modal-content {
    background: linear-gradient(135deg, #488ada, #ab2497);
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    position: relative;
    transform: scale(0.9);
    animation: modalFadeIn 0.3s ease forwards; /* Animación de entrada */
}
@keyframes modalFadeIn {
    to { transform: scale(1); }
}
.modal-header h5 {
    margin: 0;
    font-size: 20px;
    color: white;
}

.modal-body {
    margin-top: 10px;
    font-size: 16px;
    color: white;
    display: flex;
}

.modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.modal-footer .btn {
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.modal-footer .btn.cancel {
    background-color: #6c757d;
    color: #fff;
}

.modal-footer .btn.logout {
    background-color: #dc3545;
    color: #fff;
}

.modal-footer .btn:hover {
    opacity: 0.5;
}

/* Estilo para el botón de cerrar */
.close-button {
    position: absolute;
    top: 5px; /* Aumenta este valor para moverlo un poco más hacia abajo */
    right: 5px; /* Aumenta este valor para moverlo un poco más hacia la izquierda */
    padding: 5px 8px; /* Reduce el padding para que sea más pequeño */
    background-color: #dc3545;
    border: none; /* Quita el borde */
    border-radius:50%; /* Hace el botón redondeado */
    font-size: 20px; /* Reduce el tamaño de la fuente */
    color: white; /* Cambia el color del texto si es necesario */
    cursor: pointer;
    transition: background-color 0.3s; /* Agrega una transición para el hover */
}