<configuration>
<!-- Console Appender: Muestra los logs (mensajes) en la consola -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

<!-- File Appender: Guarda los logs (mensajes) en un archivo (para posteriores revisiones) -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Almacena los logs todos los días -->
            <fileNamePattern>logs/application%d{dd-MM-yyyy}.log</fileNamePattern>
            <maxHistory>7</maxHistory> <!-- Mantiene los logs por 7 días -->
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

<!-- Configuraciones del logger -->
    <root level="info">
<!-- Se mostrarán los logs en la consola y el archivo -->
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>